[submodule "lib/plugins/sfDoctrinePlugin/lib/vendor/doctrine"]
	path = lib/plugins/sfDoctrinePlugin/lib/vendor/doctrine
	url = https://github.com/LExpress/doctrine1.git
[submodule "lib/vendor/swiftmailer"]
	path = lib/vendor/swiftmailer
	url = git@github.com:swiftmailer/swiftmailer.git
